@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 style="font-size:80px;color:darkcyan">Huisartsenpraktijk UGOZ</h1>
    <h4>Uw gezondheid zal ons een zorg zijn</h4>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img style="width:100%" class="img-fluid" src="~/images/Voorkant_praktijk.jpg" />
        </div>
        <div class="col-md-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d19513.31378256444!2d4.641079096519869!3d52.31302248078587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shoofddorp%20huisarts!5e0!3m2!1snl!2snl!4v1635677622205!5m2!1snl!2snl" 
                    style="border:0;width:100%;margin-bottom:75px" allowfullscreen="" loading="lazy"></iframe>
            <address>
                Hannie Schaftstraat 64<br />
                2135 KG  HOOFDDORP<br />
                Tel: 023-4567890
            </address>
        </div>
    </div>
</div>
