<div class="row">
    <div class="container">
        @if (User.IsInRole(UGOZ_Marcel_Roesink.Utility.Helper.Admin))
        {
            <div class="form-group col-4" id="divDoctorList">
                <label> Selecteer Dokter</label>
                @Html.DropDownList("doctorId", new SelectList(ViewBag.DoctorList, "Id", "Name"),
                new { @class = "form-control select2" , @onchange="onDoctorChange()" })
            </div>
        }
        <div id="calendar"></div>
    </div>
</div>

<partial name="_AddEditAppointment"/>

@section Scripts{
    <script src="~/js/script-custom-calendar.js"></script>
}